@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bariol');
@font-face {
    font-family: 'Chicago';
    src: url('Materiala_PortfolioItzi/ChicagoFLF.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Bariol', sans-serif;
    background-color: #008080;
    display: flex;
    flex-direction: row;
    margin: 0;
    position: absolute;
}

.orrialdea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.orrialdea.active {
    opacity: 1;
    position: relative;
}

.backgroundBideoa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.backgroundBideoa video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoKontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 7vw;
    margin: 0;
    background-color: #008080;
}

.logoKontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vw;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    border: 0.5vw solid #008080;
    background-color: #5FBFBF;
    overflow: hidden;
    box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.3), 0 0 1vw rgba(0, 0, 0, 0.5), inset 0 0 1.5vw rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logoKontainer::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    border: 0.5vw solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.2);
    background-color: #5FBFBF;
}

.logoKontainer img {
    transition: opacity 0.5s ease, transform 0.3s ease;
    position: absolute;
}

.logo {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.logoHover {
    width: 110%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: brightness(1.1);
}

.logoKontainer:hover .logoHover {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease, opacity 0.5s ease;
}

.logoKontainer {
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
}

.esaldiKontainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    padding: 1.5vw;
    top: 6vw;
    background-color: rgba(0, 0, 0, 0.281);
}

.esaldi {
    font-family: "Caveat", serif;
    color: #5FBFBF;
    font-size: 2.9vw;
}

.sareKontainer {
    display: flex;
    flex-direction: row; /* Cambiado a fila */
    justify-content: center;
    align-items: center;
    margin-top: 19vw;
}

.sareBotoia {
    display: flex;
    align-items: center;
    margin: 0.5vw; /* Espacio entre los enlaces */
    z-index: 1;
    text-decoration: none; /* Elimina la línea de subrayado en los enlaces */
    cursor: pointer; /* Cambia el cursor cuando el ratón se acerca */
}

.sareBotoia img {
    width: 1.5vw;
    height: 1.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sareBotoia span {
    margin-left: 0.5vw; /* Espacio entre el icono y el texto */
    color: #5FBFBF; /* Color del texto */
    font-size: 1.5vw; /* Tamaño del texto */
}

.sareBotoia:hover {
    transform: scale(1.1); /* Ajuste de escala al hacer hover */
}

.idazMakina {
    display: flex;
    flex-direction: column; /* Cambiado a columna para que los spans se apilen verticalmente */
    position: absolute;
    right: 10vw;
    width: 45vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Chicago';
    font-size: .45vw;
    line-height: 1.9;
    color: #C0C0C0;
    z-index: 1;
    white-space: pre-wrap; /* Preserva los saltos de línea y espacios */
}

.idazMakina span {
    border-right: .5vw solid #5FBFBF; /* Cursor aplicado a cada span */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #5FBFBF;
    }
}

.edukiKontainer {
    position: absolute;
    width: 90%; /* Ajusta este valor según tus necesidades */
    padding-bottom: 56.25%; /* Mantiene la relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 0.8vw;
    border: 0.3vw solid #008080;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5);
    margin-top: 23vw; /* Espacio entre el texto y el video */
    cursor: pointer; /* Cambia el cursor cuando el ratón se acerca */
    z-index: 1;
}

.edukiKontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Elimina el borde del iframe */
    transition: transform 0.3s ease; /* Añade una transición suave para el zoom */
}

.edukiKontainer:hover iframe {
    transform: scale(1.05); /* Efecto de zoom al hacer hover */
}
